.login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--gray);
}

.login_container {
  width: 40%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
  border-radius: 10px;
}

@media (max-width: 500px){
  .login_container {
      width: 95%;
  }
}